/*-------------------
 * Portfolio
 *-------------------*/

       
 .portfolio-item {
    position      : relative;
    display       :inline-block;
    margin-bottom : 30px;
    max-width: 40%;
    margin-left: 20px;
    margin-right: 20px;
    float: left;
    }
.portfolio-padding{
    margin-left: -200px;
}
.portfolio-item .portfolio-thumb img {
    height    : auto;
    display   : block;
    max-width : 100%;
    }

.portfolio-item .portfolio-info {
    position   : absolute;
    bottom     : 0;
    padding    : 30px 15px 5px;
    width      : 100%;
    background : -webkit-linear-gradient(
            top,
            transparent 0%,
            rgb(235, 25, 25) 100%
    );
}

.portfolio-item .portfolio-info h3 {
    margin      : 0;
    line-height : 1;
    color       : #ffffff;
    }

.portfolio-item .portfolio-info small {
    color : #339148;
    }

.portfolio-item:hover .portfolio-info {
    background : -webkit-linear-gradient(
            top,
            transparent 0%,
            rgba(42, 84, 245, 0.5) 100%
    );
}
/* --------------------------------------
 * LINK STYLE
 *------------------------------------------*/
 /* a {
    color              : #2a54f5;
    text-decoration    : none;
    -webkit-transition : all 0.3s ease 0s;
    -moz-transition    : all 0.3s ease 0s;
    -o-transition      : all 0.3s ease 0s;
    transition         : all 0.3s ease 0s;
}

a,
a:active,
a:focus,
a:active {
    text-decoration : none;
    outline         : none
}

a:hover,
a:focus {
    text-decoration : none;
    color           : #2a54f5;
}

.form-control {
    height        : 50px;
    padding       : 0 20px;
    font-size     : 23px;
    line-height   : 50px;
    color         : #969595;
    border        : 1px solid #cccccc;
    border-radius : 0;
    box-shadow    : none;
    box-sizing    : border-box;
}
    
.form-control:focus,
.form-control:active {
    box-shadow : none;
} */

@media (max-width : 680px) {
    .portfolio-item {
        position      : relative;
        display       : block;
        margin-bottom : 30px;
        max-width: 100%;
        float: none;
        
    }
    .portfolio-padding{
        margin-left: 0px;
    }
    .portfolio-item .portfolio-thumb img {
        height    : auto;
        display   : block;
        max-width : 100%;
        }
    
    .portfolio-item .portfolio-info {
        position   : absolute;
        bottom     : 0;
        padding    : 30px 15px 5px;
        width      : 80%;
        margin-left: 40px;
        background : -webkit-linear-gradient(
                top,
                transparent 0%,
                rgba(0, 0, 0, 0.5) 100%
        );
    }
}   

